<!DOCTYPE html>
<html>
  <head>
    <title>Wormholes and Blackholes</title>
    <link rel="stylesheet" href="assets/style.css" type="text/css" />
  </head>
  <body lang="en">
    <script src="https://unpkg.com/vue@3"></script>

    <main id="game">
      <div class="header">
        <div v-if="winner && game?.state === 0">{{winner}} won the game!!</div>
      </div>
      <div class="player-entry" v-if="game?.state === 0">
        <div class="form-group">
          <label>
            Player 1 name:
            <input type="text" v-model="player1Name" />
          </label>
        </div>
        <div class="form-group">
          <label>
            Player 2 name:
            <input type="text" v-model="player2Name" />
          </label>
        </div>
        <button type="button" @click="startGame">Start Game</button>
      </div>
      <div id="board" class="board" v-if="game?.state !== 0">
        <template v-for="(tile, index) in getBoard?.tiles">
          <div class="tile">
            <span v-if="index === getPlayerOneTileIndex">
              {{getPlayerOne.name}}
            </span>
            <span v-if="index === getPlayerTwoTileIndex">
              {{getPlayerTwo.name}}
            </span>
            {{ tile.number }}
          </div>
          <!-- <br v-if="tile.number % 6 === 0" /> -->
        </template>
      </div>
      <div id="actions" style="margin-top: 24px">
        <template v-if="game?.state !== 0">
          <button type="button" @click="rollDice">Roll Dice</button>

          <button type="button" @click="resetGame">Reset Game</button>
        </template>

        <button type="button" @click="saveGame">Save Game</button>
        <input
          type="text"
          name="game_id"
          placeholder="Game ID"
          v-model="loadGameIdInput"
        />
        <button type="button" @click="loadGame">Load Game</button>
      </div>
      <div class="feedback">
        <div>
          Current turn: {{game?.currentTurn === TURN_PLAYER_ONE ? 'Player 1' :
          'Player 2'}}
        </div>
        <div>Previous Turn Results:</div>
        <div v-if="diceRollValue">
          Dice roll was {{diceRollValue}}<br />

          <span v-if="didPlayerBust">Busted! Cannot move beyond the board</span>
        </div>
        <div v-if="loadGameResponse">{{loadGameResponse}}</div>
        <div v-if="saveGameResponse">{{saveGameResponse}}</div>
        <div v-if="wormhole">
          Found a wormhole at {{wormhole.entry}}! Player has teleported to
          {{wormhole.exit+1}}.
        </div>
        <div v-if="blackhole">
          Found a blackhole at {{blackhole.entry}}! Player has teleported to
          {{blackhole.exit+1}}.
        </div>
      </div>
      <br />
      <br />
      <h3>Leaderboard</h3>
      <div class="leaderboard">
        <div class="grid-row">
          <div>Player</div>
          <div>Games Played</div>
          <div>Games Won</div>
          <div>Games Lost</div>
          <div>Win / Loss Ratio</div>
          <div>Quickest Win (rounds)</div>
        </div>
        <template v-for="entry in leaderboard?.entries">
          <div class="grid-row">
            <div>{{entry.player}}</div>
            <div>{{entry.gamesPlayed}}</div>
            <div>{{entry.gamesWon}}</div>
            <div>{{entry.gamesLost}}</div>
            <div>
              {{Number(entry.gamesWon / Math.max(entry.gamesLost,
              1)).toFixed(2)}}
            </div>
            <div>{{entry.quickestWin}}</div>
          </div>
        </template>
      </div>
    </main>

    <script src="assets/index.js" type="text/javascript"></script>
  </body>
</html>
